body {
    font-weight: bold;
    font-size: 120%;
}
.block {
    margin: 0 auto;
    width: 1024px;
}
#foto {
    height:100px;
    width: 100px;
    padding: 0px 0px 0px 25px;
    float: left;
}
.first-list {
 position: relative;
 left: 30px;
}